.als-logo {
  background: top left no-repeat #f90710;
  width: 125px; /* Не менять */
  height: 73px; /* не менять */
  border-radius: 4px;
}

.section-logo__logo-team {
  transition: 4s;
  background-color: rgb(149, 151, 16);
}

.section-logo__background {
  width: 125px; /* Не менять */
  height: 73px; /* Не менять */
  opacity: 0.5;
  border-radius: 4px;
}

.section-logo__background-image{
  border-radius: 4px;
}